<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Quote Books</title>
    <link rel="stylesheet" href="main.css">
</head>

<body ng-controller="mainCtrl">

  <section class="quotearea">
    <section>
      <input class="addQuote" type="text" placeholder="Add Quote :)" ng-model="quote.text"/>

      <input class="addAuthor" type="text" placeholder="Quotes Author" ng-model="quote.author"/>

      <button class="addButton" ng-click="addy(quote)">Add</button>

      <input class="search" placeholder="search" ng-model="filly"/>

    </section>
    <section ng-repeat="quote in quotes | filter: filly">
        <span class="text"> <br> "{{quote.text}}"</span>
        <span class="author">   &nbsp; {{quote.author}}</span>
        <button ng-click="rm($index)" class="closeRed"></button>

    </section>
  </section>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="app.js"></script>
    <script src="mainCtrl.js"></script>

    <script src="dataService.js"></script>
</body>

</html>
